<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.descriptopn }}">
    <meta name="keywords" content="meaningless art">
    <meta name="author" content="{{ site.name }}" />

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    {% if page.layout == 'post' %}
        <title>{{ page.title }} | {{ site.name }}</title>
    {% else %}
        <title>{{ site.name }} - {{ site.description }}</title>
    {% endif %}
    
    {% feed_meta %}

</head>
