---
layout: default
---

<section class="home">
    
    <p>Kutipan tiada makna <a href="{{ site.url }}/about">Read more</a>.</p>

    <h2>Terbaru</h2>
    <ul>
        {% for post in paginator.posts limit:5 %}
            <li>
                <div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
                <a class="span" href="{{ site.path }}{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{{ site.url }}/weblog">View all posts &rarr;</a></p>

</section>
